<div class="card ">
    <div class="card-body">
        <div class="row">
            <div class="col-md-12 ">
                <ng-container *ngIf="sucursal==null">
                    <span class="text-primary">
                        <b> REGISTRAR SUCURSAL</b>
                    </span>  
                </ng-container>
                <ng-container *ngIf="sucursal!=null">
                    <span class="text-primary">
                        <b>MODIFICAR DATOS DE LA SUCURSAL</b> 
                    </span>  
                </ng-container>
                <button type="button" class="close" aria-label="Close" (click)="cerrarVentana()"  >
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="col-md-12 ">
                <form>
                    <div class="form-group">
                        <label for="validation01">Nombres de la sucursal</label>
                        <input type="text" name="nombres" id="nombres" class="form-control" [(ngModel)]="_sucursal.nombres" >

                    </div>
                  </form>
               
            </div>
            <div class="col-md-12 text-right">
                <ng-container *ngIf="sucursal==null">
                    <button (click)="Registrar(0)" class="btn btn-success btn-sm">REGISTRAR</button>
                </ng-container>
                <ng-container *ngIf="sucursal!=null">
                    <button (click)="Registrar(1)"class="btn btn-success btn-sm">MODIFICAR</button>
                </ng-container>
                <button (click)="cerrarVentana()" class="btn btn-outline-dark btn-sm">CANCELAR</button>
            </div>

        </div>
    </div>
</div>
