<div class="card">
    <div class="card-header"> 
        Mantenedor de usuarios

    </div>
    <div class="card-body">
        <div class="row">
            <div  class="col">
                <div class="col-md-12 text-right">
                    <button [disabled]="mostrarFormulario" (click)="MostrarFormularioRegistro(null)" class="btn btn-outline-success"> Nuevo usuario</button>
                    <br><br>
                </div>
                <div class="table-responsive">
                    <table class="table table-hover ">
                        <thead>
                          <tr>
                            <th scope="col">#</th>
                            <th scope="col">Nombre </th>
                            <th scope="col">User</th>
                            <th scope="col">Sucursal</th>
                            <th scope="col"></th>
                          </tr>
                        </thead>
                        <tbody class="">
                            <ng-container *ngFor="let row of Usuarios; let i = index">
                                <tr>
                                    <td scope="row">
                                        {{i+1}}
                                    </td>
                                    <td>
                                        {{row.Nombre}}
                                    </td>
                                    <td>
                                        {{row.Usuario}}
                                    </td>
                                    <td>
                                       Sucursal  {{row.Sucursal}}
                                    </td>
                                    <td>
                                        <div class="text-right">
                                            <button (click)="MostrarFormularioRegistro(row)"  [disabled]="mostrarFormulario" class="btn btn-outline-primary btn-sm"> Modificar</button>
                                            <button (click)="Eliminar(row)" [disabled]="mostrarFormulario" class="btn btn-outline-secondary btn-sm"> Eliminar</button>
                                        </div>
                                    </td>
                                  </tr>
                            </ng-container>
                          
                        </tbody>
                      </table>
                </div>
            </div>
            <div *ngIf="mostrarFormulario" class="col">
                <app-registro 
                    [user]="_Usuario"         
                    (cerrar)="cerrar()">
                </app-registro>

            </div>


        </div>
        

    </div>
    
</div>